# User-specific files
.env
**/.vscode
**/*.VC.db
**/*.kate-swp
**/*.kateproject*

# auto generated
**/node_modules/*
**/npm-debug.log
**/yarn-error.log
**/eslint.log

# temporary fonts directory used during font-svg generation (see tools/renameicons.js)
/fonts/

# build results
app/*
dist
dist_custom
dist_portable
dist_web
icons/fontawesome/
icons/Font-Awesome-SVG-PNG-master/
icons/fontawesome/
icons/Nucleo_Colored/
icons/Nucleo_Glyph/
icons/Nucleo_Outline/
icons/nucleo-standard-license.txt

# tracked results
!app/*lock*
!app/package.json
!app/generatedSchemas
