# User-specific files
.env
.vscode
*.VC.db
**/*.kate-swp
**/*.kateproject*

# auto generated
**/npm-debug.log
**/yarn-error.log

# temporary fonts directory used during font-svg generation
/fonts/

# Build results
**/node_modules/*
dist
dist_custom
dist_portable
dist_web
icons/fontawesome/
icons/Font-Awesome-SVG-PNG-master/
icons/fontawesome/
icons/Nucleo_Colored/
icons/Nucleo_Glyph/
icons/Nucleo_Outline/
icons/nucleo-standard-license.txt
eslint.log
