disturl=https://electronjs.org/headers
target=22.2.0
runtime=electron
arch=x64
target_arch=x64
msvs_version=2022
#app-builder-lib is required to provide schema validation
#hoisted it rather than add a direct depend because
#schema validation is not strictly required and hoisting
#guarantees electron-builder's version is used
public-hoist-pattern[]=app-builder-lib
#submodules track their own changes
shared-workspace-lockfile=false
use-lockfile-v6=true
#other monorepo settings
link-workspace-packages=true
prefer-workspace-packages=true
resolve-peers-from-workspace-root=true
